@import "./variables.css";

.main-section {
  position: relative;
  padding: var(--base-offset);
  background-color: rgb(48, 48, 48);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.13);
  border: 1px solid rgb(60, 60, 60);
  border-left: none;
  border-right: none;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  & > h2 {
    margin-bottom: var(--base-offset);
  }

  summary {
    cursor: pointer;
  }

  & > h2,
  & > summary > h2 {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
  }

  .buttons {
    position: absolute;
    right: var(--base-offset);
    top: var(--base-offset);
    display: flex;
    flex-direction: row;
    gap: var(--base-offset);

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      margin: 0;
      width: round(1.25rem, 1px);
      height: round(1.25rem, 1px);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      opacity: 0.5;
      transition: opacity 0.2s;

      &:not(:disabled) {
        &:hover,
        &:focus,
        &:focus-visible {
          opacity: 1;
        }
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

details.main-section[open] > summary {
  margin-bottom: var(--base-offset);
}
