.donut-chart {
  aspect-ratio: 1;
  width: 64px;
  transition-property: opacity 0.2s, filter 0.4s, transform 0.25s;
  transition-duration: 0.25s;

  @starting-style {
    opacity: 0;
    filter: saturate(0%);
    transform: rotate(-0.4rad);
  }
}
