.tags {
  padding: 0px 10px;

  .tag {
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 10px;
    margin-left: 5px;
    padding: 1px 7px;
    font-size: 0.8em;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.085);
    color: rgb(225, 225, 225);
    text-shadow: 0 0 2px rgba(10,10,10,0.25);
    user-select: none;

    @media (max-width: 770px) {
      font-size: 0.7em;
    }

    &:first-child {
      margin-left: 0;
    }

    &.background {
      background-color: rgba(0, 60, 255, 0.6);
    }

    &.content {
      background-color: rgb(190, 180, 0);
      color: rgb(255, 255, 255);
    }

    &.user-script-api {
      background-color: rgb(141, 0, 153);
    }

    &.manifest {
      background-color: rgb(7, 149, 35);
      color: rgb(235, 235, 235);
    }

    &.devtools {
      background-color: rgb(227, 103, 12);
      color: rgb(255, 255, 255);
    }
  }
}
