.ui-box {
    background-color: rgb(48, 48, 48);
    box-shadow: inset 0px 0px 0px 1px rgb(64, 64, 64);
    margin-bottom: 10px;

    .title-bar {
        display: block;
        border: none;
        background-color: transparent;
        padding: 10px;
        user-select: none;
        font-size: 0.85em;
        font-family: sans-serif;
        color: rgb(200, 200, 200);
        outline: none;
    }

    &.collapsable {
        .title-bar {
            cursor: pointer;
        }

        .title-bar:focus-visible {
            color: white;
            text-decoration: underline;
        }

        .title-bar::before {
            content: " ";
            display: inline-block;
            vertical-align: sub;
            width: 16px;
            height: 16px;
            background-image: url("../icons/bootstrap/caret-down.svg");
            background-repeat: no-repeat;
            opacity: 0.75;
            margin-right: 5px;
            transition: transform 0.2s;
        }

        &.collapsed {
            .title-bar::before {
                transform: rotate(-90deg);
            }
        }
    }

    .box-content {
        padding: 10px;
        padding-top: 0px;
    }
}

span.path {
    font-family: monospace;
    hyphens: none;
}

a.file,
a.folder {
    color: white;
    text-decoration: none;

    &:hover, &:active, &:focus {
        text-decoration: underline;
    }

    &:focus-visible {
        outline: none;
    }
}

.hfill {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

@import "tags.less";
