.ui-box {
    padding: 10px;
    background-color: rgb(48, 48, 48);
    box-shadow: inset 0px 0px 0px 1px rgb(64, 64, 64);
    margin-bottom: 10px;
}

span.path {
    font-family: monospace;
    hyphens: none;
}

a.file, a.folder {
    color: white;
    text-decoration: none;

    &:hover, &:active {
        text-decoration: underline;
    }
}

@import "tags.less";
