.extension-selector {
    input {
        margin: 10px;
        margin-left: 15px;
    }

    form.addon-store-selector {
        label {
            font-family: monospace;
            user-select: none;
            margin-left: 15px;
        }

        input[type="text"] {
            margin-left: 0;
        }
    }

    ul li:not(:last-of-type) {
        margin-bottom: 0.5em;
    }
}

.recent-extension {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2em 0.3em;

    a.title {
        flex-basis: 100%;
    }

    > :not(.title) {
        opacity: 0.75;
        font-size: 0.8em;
    }

    button.remove {
        position: relative;
        top: -1px;
        border: none;
        background: none;
        color: inherit;
        cursor: pointer;
    }

    &:hover button.remove {
        text-decoration: underline;
    }

    button:hover {
        opacity: 1;
    }
}
