.tile.files {
  > h3::before {
    background-image: url("../../../assets/bootstrap-icons/folder-fill.svg");
  }

  & > .content {
    display: flex;
    flex-direction: row;
    gap: var(--base-offset);

    div.column {
      display: flex;
      flex-direction: column;
    }

    table {
      font-size: 0.9em;
      margin-bottom: 0.5em;
      text-transform: uppercase;
      border: none;

      tr.none {
        opacity: 0.64;
      }

      td {
        vertical-align: middle;
      }

      td:first-child {
        font-size: 1.11em;
        padding-right: 0.15em;
      }
    }

    .total-size {
      font-size: 0.9em;
    }

    .chart-color-indicator {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.25);
      margin-left: 0.2em;

      tr.none & {
        display: none;
      }
    }

    .donut-chart {
      transition-delay: 0.2s;
      transition-duration: 0.5s;
    }
  }
}
