@import "../variables.css";

.tile {
  position: relative;
  box-sizing: border-box;
  padding: var(--base-offset);
  min-height: 150px;
  min-width: 250px;
  max-width: 320px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-align: left;
  font-size: 1rem;

  background-color: rgb(64, 64, 64);
  border: 1px solid rgb(82, 82, 82);
  border-radius: 2px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.125);

  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;

  > h3 {
    margin: 0;
    margin-bottom: var(--base-offset);
    font-size: 0.85rem;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(200, 200, 200);
    display: flex;
    flex-direction: row;
    gap: var(--base-offset);
    line-height: 16px;

    &::before {
      content: " ";
      display: inline-block;
      width: 16px;
      height: 16px;
      background-repeat: no-repeat;
      opacity: 0.784; /* 200/255 */
    }
  }

  > .content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
      margin: 0;
    }

    color: white;
  }

  &:focus,
  &:focus-visible {
    box-shadow: 0 0 0 2px white;
    outline: 2px solid rgb(42, 182, 255);
  }

  &:focus,
  &:focus-visible,
  &:not(:disabled):hover {
    border-color: rgb(120, 120, 120);

    > h3 {
      color: rgb(225, 225, 225);

      &::before {
        opacity: 0.882; /* 225/255 */
      }
    }
  }

  @starting-style {
    opacity: 0;
    transform: scale(0.6, 0.6);
  }
}

.tile {
  &.permissions,
  &.files,
  &.translations {
    & table td:first-child {
      font-weight: bold;
      text-align: right;
      padding-right: 0.2em;
    }
  }

  &.permissions > .content {
    table {
      line-height: 2em;
      text-transform: uppercase;
    }
  }

  &.da {
    ul {
      line-height: 1.75em;
    }
  }

  &.permissions > h3::before {
    background-image: url("../../../assets/bootstrap-icons/shield-fill-exclamation.svg");
  }

  &.translations > h3::before {
    background-image: url("../../../assets/bootstrap-icons/translate.svg");
  }

  &.da > h3::before {
    background-image: url("../../../assets/bootstrap-icons/play-circle-fill.svg");
  }
}

@media not (prefers-reduced-motion) {
  .tile {
    &:nth-child(1) {
      transition-delay: 0s; /* TODO: Use sibling index once available */
    }

    &:nth-child(2) {
      transition-delay: 0.075s;
    }

    &:nth-child(3) {
      transition-delay: 0.15s;
    }

    &:nth-child(4) {
      transition-delay: 0.225s;
    }

    &:nth-child(5) {
      transition-delay: 0.3s;
    }
  }
}

@media (prefers-reduced-motion) {
  .tile {
    transition-duration: 0s;
  }
}
